@use "variables" as *;

@mixin display($param, $jContent) {
    display: flex;
    flex-direction: $param;
    justify-content: $jContent;
}

html {
    font-size: 62.5%;
}

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
}

//la div où on met les composants
#root {
    //on fait display flex avec column et le justify, afin de pouvoir regler la hauteur
    @include display(column, space-between);
    width: 100%;
    min-height: 100vh;
}

img {
    max-width: 100%;
}

a {
    text-decoration: none;

    &::first-letter {
        text-transform: capitalize;
    }

    &:hover {
        color: $orange;
        cursor: pointer;
    }
}

button {
    border: none;
    border-radius: 0.3rem;
    background-color: $marron;
    color: $beigeClair;
    
    &:hover {
        background-color: $gris;
    }
}

//liste des tables
.btnList {
    font-size: 2.5rem;
    font-weight: bold;
    text-align: left;
    border-bottom: 1px solid $beigeClair;
    padding: .5rem;

    &:hover {
        background-color: $gris;
    }
}

.btnDeco {
    border-top: 1px solid $beigeClair;
    padding: .5rem 0;
}
//fin liste des tables

.icon {
    color: $beigeClair;
    font-size: 3rem;

    &:hover {
        color: $orange;
        cursor: pointer;
    }
}

#adFoot, #adHead {
    background-color: $gris;
}

#adHead {
    .menu {
        background-color: $gris;
        visibility:hidden;
        div {
            @include display(column, center);
            a {
                &:hover {
                    background-color: $orange;
                    color: $marron;
                }
            }
        }
    }
    #iconUser {
        color: $beigeClair;
    }

    #iconUser.open + .menu {
        visibility: visible;
    }
}
#adFoot {
    @include display(row, space-between);
    padding: .5rem 1rem;
}

.table, #admin {
    max-height: 70%;
    overflow-y: auto;

    a:not(.tdIcone a, caption a) {
        color: $marron;
        font-weight: bold;
        border: 1px solid $marron;
        padding: .7rem;
        border-radius: .3rem;
        margin: 2rem;
    }

    table {
        display: block;
        color: $black;
        background-color: $white;
        border-collapse: collapse;
        overflow-x: scroll;
        border: 2px solid $gris;
        max-width: 95%;
        margin: auto;

        caption {
            padding: 1rem;
            text-transform: uppercase;
            text-align: left;

            a {
                font-style: italic;
                font-weight: bold;
                font-size: 1.4rem;
            }
        }

        tr:nth-child(even), th {
            background-color: $grisExtraLight;
        }

        th, td, tr {
            border: .5px solid $gris;
            padding: 1rem;
        }

        .tdIcone {
            @include display(column, space-around);
            justify-content: space-around;
            align-items: center;
            gap: 1rem;
            border: none !important;

            .iconeTable {
                color: $marron;
                font-size: 4rem;
            }

            button {
                background-color: $transparent;
                border: none;
            }
        }
    }
}

main {
    @include display(column, space-around);
    padding: 2rem
}

.aBack + form { //les formulaires pages ajout et modification/delete
    fieldset {
        legend {
            font-size: 2rem;
        }
        label {
            font-size: 1.8rem;
            span {
                display: inline-block;
            }
        }
        background-color: $grisExtraLight;
        select {
            padding: .5rem;
            option {
                font-size: 1.2rem;
            }
        }
    }

    button[type^="submit"] {
        background-color: $gris;
        border: 1px solid $gris;
        line-height: 2.5rem;
    }
}

.detail { 
    position: relative;
    padding: 2rem 0;

    a {
        margin-left: 2rem;
        font-style: italic;
    }

    .iconeTable {
        font-size: 4rem;
    }

    [type="submit"] {
        width: 100%;
        padding: .5rem;
    }

    .btnDelete {
        @include display(row, center);
        padding: .5rem;
        width: 40%;
        margin: 2rem auto;
        background-color: $gris;
           
    }
    
    .msgDelete {
        @include display(row, space-evenly);
        flex-wrap: wrap;
        font-weight: bold;
        background-color: $grisClair;
        border: 1px solid $gris;
        position: absolute;
        bottom: 0;
        right: 0;
        left: 0;
        padding: 3rem;
        text-align: center;
        font-size: 2rem;
        
        p {
            width: 100%;
            color: $white;
            display: inline-block;
            margin-bottom: 4rem;
        }

        button {
            padding: 2rem;
            font-weight: 900;
            background-color: $grisExtraLight;
            color: $marron;
            &:hover {
                background-color: $orange;
            }
        }
    }
}


//version tablette
@media screen and (min-width: 768px) {
    .aBack {
        font-size: 2rem;
        margin: 2rem;
    }

    .aBack + form {
        fieldset {
            background-color: $grisExtraLight;
            p, legend {
                font-size: 2.5rem;
            }
            
            button[type^="submit"] {
                background-color: $gris;
            }

            input, textarea, select {
                font-size: 2rem;
            }
        }
    }

    .msgDelete {
        p{
            font-size: 2.5rem;
        }
        button {
            width: 20%;
            font-size: 2rem;
        }
    }

    #adHead {
        .btnList {
            font-size: 3rem;
        }
    }

    .table {
        caption{
            font-size: 2rem;
            a {
                font-size: 1.8rem !important;
            }
        }
        th, tr, td {
            font-size: 2rem;
        }
    }
}

//version desktop
@media screen  and (min-width: 1200px) {
    #adHead {
        position: relative;
        height: 12vh;
        .menu {
            visibility: visible;
            position: absolute;
            @include display(row, space-between);
            top: 49%;
            
            a, .btnDeco {
                font-size: 2.5rem;
            }

            .btnDeco {
                padding: .5rem !important;
                border-top: none;
            }

            .btnList, .btnDeco {
                &:hover {
                    background-color: $orange;
                    color: $marron;
                }
            }
            
            div {
                @include display(column, space-around);
                position: absolute;
                background-color: $gris;
                top:100%;
                left: 42%;
                width: 39%;
            }
        }

        #iconUser {
            display: none;
        }
    }

    .table {
        .tdImg{
            @include display(row, space-around);
            align-items: center;
            .imgMedMovie {
                width: 25%;
            }
        }
    }
}