@use "variables" as *;

@mixin display($param, $jContent) {
    display: flex;
    flex-direction: $param;
    justify-content: $jContent;
}

html {
    font-size: 62.5%;
}

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    // background-color: $beige;
}

//la div où on met les composants
#root {
    //on fait display flex avec column et le justify, afin de pouvoir regler la hauteur
    @include display(column, space-between);
    width: 100%;
    min-height: 100vh;
    // max-width: 400px;
    // position: relative;

}

img {
    max-width: 100%;
    // height: auto;
    // display: block;
}

a {
    text-decoration: none;

    &::first-letter {
        text-transform: capitalize;
    }

    &:hover {
        color: $orange;
        cursor: pointer;
    }
}

button {
    border: none;
    //ajout pour qdmin uniquement
    border-radius: 0.3rem;
    background-color: $marron;
    color: $beigeClair;
    
    &:hover {
        background-color: $gris;
    }
}

//liste des tables
.btnList {
    font-size: 2.5rem;
    font-weight: bold;
    text-align: left;
    border-bottom: 1px solid $beigeClair;
    padding: .5rem;

    &:hover {
        background-color: $gris;
    }
}

.btnDeco {
    border-top: 1px solid $beigeClair;
    padding: .5rem 0;
}
//fin liste des tables

.icon {
    color: $beigeClair;
    font-size: 3rem;

    &:hover {
        color: $orange;
        cursor: pointer;
    }
}

#adFoot {
    @include display(row, space-between);
    padding: .5rem 1rem;
}

.table, #admin {
    padding: 2rem, 0;
    max-height: 70%;
    overflow-y: auto;

    a:not .tdIcone a {
        color: $marron;
        font-weight: bold;
        border: 1px solid $marron;
        padding: .7rem;
        border-radius: .3rem;
        margin: 2rem;
    }

    table {
        display: block;
        color: $black;
        background-color: $white;
        border-collapse: collapse;
        overflow-x: scroll;
        border: 2px solid $gris;
        max-width: 95%;
        margin: auto;

        caption {
            padding: 1rem;
            text-transform: uppercase;
            text-align: left;

            a {
                font-style: italic;
                font-weight: bold;
                font-size: 1.4rem;
            }
        }

        tr:nth-child(even), th {
            background-color: $grisExtraLight;
        }

        th, td, tr {
            border: .5px solid $gris;
            padding: 1rem;
        }

        .tdIcone {
            @include display(column, space-around);
            justify-content: space-around;
            align-items: center;
            gap: 1rem;

            .iconeTable {
                color: $marron;
                font-size: 4rem;
            }

            button {
                background-color: $transparent;
                border: none;
            }
        }
    }
}

.detail {
    position: relative;
    padding: 2rem 0;

    a {
        margin-left: 2rem;
        font-style: italic;
    }

    .iconeTable {
        font-size: 4rem;
    }

    [type="submit"] {
        width: 100%;
        padding: .5rem;
    }

    .btnDelete {
        @include display(row, center);
        padding: .5rem;
        width: 40%;
        margin: 2rem auto;
    }
    
    .msgDelete {
        @include display(row, space-evenly);
        flex-wrap: wrap;
        color: $orange;
        font-weight: bold;
        background-color: $grisClair;
        border: 1px solid $gris;
        position: absolute;
        bottom: 0;
        right: 0;
        left: 0;
        padding: 3rem;
        text-align: center;
        font-size: 2rem;
        
        p {
            width: 100%;
            display: inline-block;
            margin-bottom: 4rem;
        }

        button {
            padding: 2rem;
            font-weight: 900;
        }
    }
}