@use "variables" as *;


@mixin display($param, $jContent) {
    display: flex;
    flex-direction: $param;
    justify-content: $jContent;
}

html {
    font-size: 62.5%;
}

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    background-color: $beigeClair;
    font-family: $monserrat;
    font-size: 1.6rem;
}

//la div où on met les composants
#root {//on fait display flex avec column et le justify, afin de pouvoir regler la hauteur
    @include display(column, space-between);
    width: 100%;
    min-height: 100vh;
}

%titleProps {
    font-family: $varela;
    text-align: center;
}

h1 {
    @extend %titleProps;
}

img {
    max-width: 100%;
}
    
a {
    text-decoration: none;

    &::first-letter {
        text-transform: capitalize;
    }

    &:hover {
        color: $orange;
        cursor: pointer;
    }
}

.icon {
    color: $beigeClair;
    font-size: 3rem;
    &:hover {
            color: $orange;
            cursor: pointer;
    }
}

.horaire { //le cardTime
    @include display(row, space-around);
    padding-left:0;

    li {
        background-color: $orange;
        list-style: none;
        display: inline-block;
        gap: 5%;
        text-align: center;
        padding: 0 !important;
        border-radius: .5rem;
        border: 1px solid $marron;
        font-weight: bold;
        box-shadow: 1px 1px 3px 0 $grisClair;

        &:hover {
            background-color: $marron;
        }

        a {
            color: $marron;
            width: 100%;
            display: inline-block;
            padding:.5rem;

            &:hover {
                color: $beigeClair !important;
            }
        }
    }
}

header, footer {
    align-items: center;
    background-color: $marron;
    a {
        color: $beigeClair;
    }
}

header {
    @include display(row, space-evenly);
    padding-bottom: .5rem;
    position: relative;

    button {
        border: none;
        background-color: $transparent;
    }

    .btnBurger {
        .menuBurger{
            padding-top: .5rem;
            padding-left: .5rem;
            font-size: 3.5rem;
        }
    }

    .logoTitle {
        @include display(row, flex-end);
        align-items: flex-end;
        width: 100%;
        
        .logo{
            width:25%;
        }

        span  {
            font-size: 2.8rem;
            margin-left: .5rem;
            font-family: $varela;
        }
    }

    #menu, .menu { //menu mobile
        @include display(column, space-between);
        background-color: $marron;
        font-size: 2rem;
        position: absolute;
        top: 4.5rem;
        z-index: 10;
        
        a {
            padding: .5rem 1rem;
            font-weight: bold;

            &:hover {
                color: $marron;
                background-color: $orange;
            }
        }
    }
    // En mode mobile, si le menu burger est ouvert, affiche le menu
    .btnBurger.open ~ #menu {
        visibility: visible;
    }

    #menu {
        left:0;
        visibility: hidden;// Par défaut, le menu est caché

        .burgerDeco {
            border-top: 1.5px dotted $beigeClair;
            border-radius:0;
            padding: 1rem;
        }
    }

    .btnDeco {
        color: $beigeClair;
        font-size: 2.5rem;

        &::first-letter {
            text-transform: capitalize;
        }
    }

    #wrapIcon{
        @include display(row, space-evenly);
        width: 40%;

        #iconGlass, #iconUser {
            padding-top: 0.5rem;
        }

        .menu {
            right: 0;
        }
    }

    .divSearch {
        z-index: 999;
        position: absolute;
        bottom: -100%;
        left: 0;
        right: 0;
        
        .inputSearch {
            height: 4rem;
            width: 100%;
            border-radius: 0;
            border: none;
            font-size: 2rem;
            padding-left: .5rem;
            
            &::placeholder {
                font-family: $monserrat;
                font-weight: bold;
                padding-left: 2rem;
            }
        }

        .searchList {
            position: absolute;
            left: 0;
            right: 0;
            background-color: $white;
            
            li, .msgSearch {
                list-style: none;
                line-height: 3rem;
                font-weight: bold;
                a {
                    display: inline-block;
                    width: 100%;
                    color: $marron;
                    font-weight: bold;
                }
            }
        }
    }

}


footer {
    @include display(column, space-between);
    color: $beigeClair;
    text-align: center;

    h3 {
        @extend %titleProps;
        margin-bottom: .5rem;
        font-weight: normal;
        font-size: 1.5rem;
        text-decoration-line: underline;
    }

    article {//contact
        width: 90%;
        border-bottom: 1px dotted $beigeClair;
        padding-bottom: 1.5rem;
        
        address {
            .logoFooter {
                width: 18%;
            }
            p , a{
                margin: 0;
                font-size: 1.3rem;
                strong {
                    font-weight: normal;
                    margin-left: .45em;
                    
                }
            }
        }
    }
    
    nav { //infos
        @include display(column, space-evenly);
        width: 90%;
        font-size: 1.2rem;
        padding-bottom: 1rem;
        border-bottom: 1px dotted $beigeClair;

        a {
            width: 90%;
            margin: auto;
        }

    }

    div { //réseaux sociaux
        @include display(row, space-around);
        flex-wrap: wrap;
        margin-bottom: 2rem;

        h3 {
            @extend %titleProps;
            width: 100%
        }

        .icon {
            font-size: 2.5rem;
            margin-top: 1rem;
        }
    }
}

main {
    @include display(column, space-around);
    padding: 2rem
}


form {
    width: 90%;
    height: 100%;
    margin: 2rem auto;

    fieldset, input, [type="submit"] {
        border-radius: .2rem;
    }

    fieldset {
        height: 100%;
        @include display(column, space-between);
        row-gap: 1rem;
        padding: 2rem 1rem;
        border: 1px solid $marron;

        legend, label {
            color: $marron;
        }
        legend {
            font-size: 3rem;
        }

        label {
            font-size: 2rem;
        }

        input {
            padding: 0.5rem;
            border: none;

            &:hover {
                background-color: $beige;
                box-shadow: inset $orange 1px 1px 5px 0px;
            }
        }

        [type="submit"] {
            margin-top: 1rem;
            background-color: $marron;
            color: $beigeClair;
            font-weight: bold;
            border: .5px solid $marron;
            box-shadow: 1px 1px 5px 0px;
            width: 100%;
            
            &:hover {
                font-weight: bold;
                background-color: $orange;
                box-shadow: inset $marron 1px 1px 3px 0px;
                cursor: pointer;
                color: $marron;
            }
        }

        #error {
            color: red;
            font-weight: bold;
        }
    }

    a {
        font-size: 1.5rem;
        @include display(inline-block, center);
    }
}

// style de la page home
.home {
    .carousel {
        .slick-arrow {
            &::before {
                color: $marron;
                font-size: 3rem;
            }
        }

        .slick-prev {
            left: .5rem;
            z-index: 3;
        }
        .slick-next {
            right: 1.5rem;
        }

        .slick-dots {
            button::before {
                margin-top: -20px;
                font-size: 1rem;
            }
        }

        .picture {
            img {
                margin: auto;
            }
        }
    }

    .homeListe {
        width: 100%;
        padding: .5rem;
        @include display(column, space-around);

        figure:not(:last-child) {
            border-bottom: 1px solid $black;
        }
   
        figure {
            margin: 0;
            padding: 1.5rem 0;

                img {
                    width: 40%;
                    float: left;
                    margin-right: .5rem;
                }

                figcaption {
                    h2, p {
                        &::first-letter {
                            text-transform: capitalize;
                        }
                    }

                    h2 {
                        @extend %titleProps;
                        margin-top: 0;
                        margin-bottom: .5rem;
                    }
                
                    p { 
                        margin: 0;
                        font-family: $varela;
                        
                        span {
                            font-style: italic;
                            font-family: $monserrat;
                        }
                    }
                }
                
                .clearfix {
                    display: inline-block;
                    clear: both;
                    font-style: italic;
                    font-size: 1.3rem;
                    font-weight: bold;
                    margin-top: 1rem;
                }
        }
    }    
}

// style page de détail d'un film:
#movieDetail {
    article:not(.video) {
        width: 90%;
        margin: 1rem auto;
    }

    article {

        h2, p {
            &::first-letter {
                text-transform: capitalize;
            }
        }

        h2 {
            @extend %titleProps;
            text-align: center
        }

        img {
            float: left;
            width: 100%;
            margin-bottom: 1rem;
        }

        iframe {
            width: 100%;
            height: 35vh;
            margin: 2rem 0;
        }

        p {
            margin: 0;
            font-size: 1.4rem;
            
            strong {
                margin-left: .5rem;
                font-style: italic;
                text-transform: capitalize;
            }
        }
    }

    .horaire {//le cardTime
        li {
            a {
                padding: .5rem;
                margin:0;
                font-size: 1.5rem;
            }
        }
    }
    .synopsys {
        padding: 1rem;

        p{
            margin-bottom: 1rem;
        }
        
        strong {
            font-weight: normal;
            font-size: 1.4rem;
        }
    }

    a {
        display: inline-block;
        margin: 2rem;
        font-style: italic;
        font-size: 1.3rem;
        font-weight: bold;
    }
}

.infos { //les pages d'informations (cgu/cgv/confidentialité/a propos)
    padding: 1rem;
    
    section {
        padding: 2rem;
        border: 1px solid $marron;
        border-radius: .2rem;
        background-color: $white;

        h2 {
            margin: 0;
            @extend %titleProps;
        }
        address {
            margin-top: 1rem;
        }

        dt {
            font-weight: bold;
            font-size: 1.9rem;
        }

        dl:not(:last-child) {
            border-bottom: 1px solid $marron;
        }

        dl {
            strong {
                font-weight: normal;
            }
        }
    }
}

//la séance d'un film
.session {
    section {
        background-color: $white;
        padding: 2rem;
        article {
            border: 1px solid $marron;
            padding: 2rem;
            figure {
                padding: .5rem;
                margin: 0;
                border-bottom: 1px dotted $marron;
            }
            
            img {
                float: left;
                width: 40%;
                margin-right: 2rem;
                box-shadow: 2px 2px 3px $grisExtraLight;
            }

            p {
                margin: 0;
            }

            div {
                margin: 2rem 0;
            }

            .reservation {
                border: 1px solid $marron;
                padding: .5rem;
                background-color: $marron;
                color: $beigeClair;
                font-weight: bold;

                &:hover {
                    background-color: $orange;
                    color : $marron;
                }
            }
        }
        .orderForm {
            label {
                font-size: 2rem;
                input {
                    background-color: $beigeClair;
                    font-size: 2rem;
                    margin-left: .5rem;
                }
            }
            button {
                font-size: 2rem;
                padding: .5rem;
            }
        }
    }
}


// version tablette
@media screen and (min-width: 768px) {
    header {
        padding-bottom: 1rem;

        .icon {
            font-size: 4rem;
        }

        .btnBurger {
            .menuBurger {
                padding-left: 1rem;
                font-size: 4rem;
            }
        }

        .logoTitle {
            span {
                font-size: 4rem;
                margin-left: 1rem;
            }
        }

        #menu, .menu {//menu burger et compte utilisateur
            font-size: 3rem;
            top: 8.5rem;

            a {
                padding: .5rem 1.5rem;
                font-weight: bold;
            }
        }

        .btnDeco {
            font-size: 3rem;
        }

        .divSearch {
            bottom: -45%;
            .inputSearch {
                font-size: 2.5rem;
                padding-top: 1rem;
            }
        }
    }

    footer {
        h3 {
            margin-bottom: 1rem;
            font-size: 2rem;
        }

        article { //contact
            padding-bottom: 2rem;

            address {
                .logoFooter {
                    width: 20%;
                }

                p, a {
                    font-size: 1.8rem;
                    margin: .5rem 0;
                    strong {
                        margin-left: .5em;
                    }
                }
            }
        }

        nav { //les infos
            font-size: 1.8rem;
            padding-bottom: 2rem;
        }

        div { //réseaux sociaux
            margin-bottom: 2.5rem;

            .icon {
                font-size: 3.5rem;
            }
        }
    }

    .home {
        .carousel {
            margin-bottom: 10rem;
            .slick-arrow {
                &::before {
                    font-size: 4rem;
                }
            }

            .slick-next {
                right: 4rem;
            }

            .slick-dots {
                li {
                    margin: 0 1.5rem;
                }

                button::before {
                    margin-top: -10px;
                    font-size: 2rem;
                }
            }
        }

        .homeListe { //liste des films
                figure {
                    padding: 2.5rem 0;

                img {
                    margin-right: 2rem;
                }

                figcaption {
                    h2 {
                        margin-bottom: 1rem;
                        font-size: 3rem;
                    }

                    p {
                        font-size: 2.5rem;
                    }
                }
                p {font-size: 2.5rem;}

                .clearfix {
                    font-size: 2rem;
                }
            }
        }
    }

    .horaire {//le cardTime
        li {
            padding: 1rem;
            a {
                font-size: 2.5rem;
            }
        }
    }

    .infos { //les pages d'informations (cgu/cgv/confidentialité/a propos)
        width: 90%;
        margin: auto;
    }
 
    form {
        width: 80%;
        fieldset {
            padding: 2rem 3rem;
            legend {
                font-size: 3.5rem;
            }

            label, p {
                font-size: 2.5rem;
            }
            input {
                line-height: 3rem;
                font-size: 2rem;
            }

            [type="submit"] {
                margin-top: 2rem;
                font-size: 2.5rem;
            }
        }

        a {
            margin-top: 1rem;
            font-size: 2.5rem;
        }
    }

    // style page de détail d'un film:
    #movieDetail {
        article:not(.video) {
            margin: 0;
        }

        article {
            h2 {
                font-size: 3rem;
            }

            img {
                width: 50%;
                margin-right: 1.5rem;
            }

            p {
                font-size: 2rem;
            }
        }
        
        p {
            font-size: 2rem;
        }

        .horaire { //le cardTime
            li {
                a {
                    font-size: 1.8rem;
                }
            }
        }
        
        .synopsys {

            strong {
                font-size: 2rem;
            }
        }

        a {
            font-size: 1.8rem;
        }
    }

    .session {//page de séance d'un film et la réservation
        section {
            article {

                img {
                    max-width: 225px;
                }

                .reservation { //bouton pour réserver
                    padding: 1rem;
                    font-size: 1.5rem;
                }
            }
        }
    }
}


//version desktop
@media screen and (min-width: 1200px) {
    header {
        padding-bottom: 1rem;

        .icon {
            font-size: 4rem;
        }

        .btnBurger{
            display: none;
        }

        .logoTitle {
            text-align: left;
            padding: 1rem 5rem;
            @include display(row, flex-start);
            .logo {
                width: 10%;
            }
            span {
                font-size: 3.5rem;
                margin-left: 2rem;
            }
        }

        #menu {
            visibility: visible;// En mode desktop, le menu est visible
            @include display(row, flex-start);
            width: 100%;
            .burgerDeco {
                border-top: none;
            }
        }

        #menu, .menu {//menu burger et compte utilisateur
            font-size: 2rem;
            top: 100%;

            a {
                padding: 1.5rem 2rem;
                font-weight: bold;
            }
        }

        .btnDeco {
            font-size: 2rem;
        }

        .divSearch {
            bottom: -45%;

            .inputSearch {
                font-size: 2.5rem;
                padding-top: 1rem;
                height: 5rem;
            }

            li, .msgSearch {
                line-height: 4rem;

                a {
                    font-size: 2rem;
                }
            }
        }
    }

    footer {
        @include display(row, space-evenly);
        align-items: stretch;

        h3 {
            font-size: 2rem;
        }

        article {//contact
            border-bottom: none;
            width: 35%;

            address {

                p, a {
                    font-size: 1.5rem;
                }
            }
        }

        nav {//les infos
            width: 35%;
            font-size: 1.5rem;
            border-bottom: none;
        }

        div { //réseaux sociaux
            @include display(row, center);
            width: 30%;
            
            .icon {
                margin: 1rem;
                font-size: 2.5rem;
            }
        }
    }
    
    .home {
        h1 { 
            margin-top: 8vh;
            font-size: 4rem;
        }

        .carousel {
            img {
                width: 25%;
            }
            .slick-prev {
                left: 28%;
            }
            .slick-next {
                right: 30%;
            }

            .slick-dots {
                button::before {
                    font-size: 1.5rem;
                }
            }
        }

        .homeListe { //liste des films
            width: 80%;
            margin: auto;
            @include display(row, space-around);
            flex-wrap: wrap;
            
            figure {
                border-bottom: 1px solid $black;
                width: 40%;
                padding: 2.5rem 0;

                img {
                    width: 40%;
                    margin-right: 2rem;
                }

                figcaption {
                    h2 {
                        margin-bottom: 2.5rem;
                    }
                    p {
                        font-size: 2rem;
                    }
                }
                
                p {
                    margin-top: 7.5rem;
                    font-size: 2rem;
                }

                .clearfix {
                    font-size: 2rem;
                }
            }
        }
    }

    .horaire {//le cardTime
        li {
            a {
                font-size: 1.8rem;
            }
        }
    }

    .infos {//les pages d'informations (cgu/cgv/confidentialité/a propos)
        margin: 10vh auto 2vh auto;
        width: 50%;
        h2 {
            font-size: 2.8rem;
        }
        
        address, p {
            font-size: 1.5rem;
        }

        dt { font-size: 2rem !important; }
    }

    form {//pour tous les formulaires
        width: 40%;
        fieldset {
            input, label, p{
                font-size: 1.5rem;
            }
        }

        fieldset + a {
            font-size: 1.5rem;
        }
    }


    .form {
        padding-top: 10vh;
        form{
            width: 30%;
        }
    }

    #movieDetail { //la page d'un film
        section {
            padding-top: 5vh;
            display: flex;
            flex-direction: column;
                
        }
        article:not(.video), .titleHoraire, .horaire {
            width: 70%;
            margin: 2rem auto;
        }

        article {
            &:nth-child(3) {
                    order: 2;
                }
            h2 {
                font-size: 3rem;
                margin-bottom: 5rem;
            }

            img {
                width: 25%;
                margin-right: 2rem;
            }

            iframe {
                height: 100vh;
            }

            p {
                margin-top: 1rem;
            }
        }

        .horaire {//le cardTime
            justify-content: flex-start;
            gap: 2rem;
            li {
                a {
                    font-size: 2rem;
                }
            }
        }

        .video {
            order: 5;
        }

        .synopsys {
            order: 4;

            strong {
                font-size: 2.5rem;
            }
        }

        a {
            font-size: 2rem;
        }

        .synopsys + a {
            order: 6;
        }
    }

    .session {//page de séance d'un film et la réservation
        margin-top: 8vh;     
        section {
            h2 {
                text-align: center;
            }
            width: 70%;
            margin: auto;
            
            article {
                margin: auto;
                width: 60%;
                img {
                    margin-right: 4rem;
                }
            }
        }
    }
    #dash {
        margin-top: 5vh;
    }

}